.widget-weather .table {
	height: 100%;
	width: 100%;
	font-family: "Sans-serif";
	border-style: none;
}

/*left panel*/

.widget-weather .left_panel{
	height: 100%;
	width:75%;
	float:left;
}

.widget-weather .left_panel .title{
	float:left;
	height:20%;
	width: 100%;
	font-size: 24px;
}

.widget-weather .left_panel .comment{
	float:left;
	font-style: oblique;
	height:20%;
	width: 100%;
}

.widget-weather .left_panel .alert_panel{
	float:left;
	width:90%;
	margin-top:5%;
	height:40%;
}

.widget-weather .left_panel .alert_panel .alert_information{
	display: table;
	float: left;
	height:100%;
	width: 33%;
	text-align:center;
}

.widget-weather .left_panel .alert_panel .alert_information span{
	display: table-cell;
	vertical-align: middle;
}

.widget-weather .left_panel .alert_panel .alert_img{
	background-image: url(./icons/warning-icon.png) !important;
	background-position:center center;
	background-repeat:no-repeat;
	float:left;
	height:100%;
	width: 33%;
}

.widget-weather .left_panel .alert_panel .alert_button{
	display: table;
	float:left;
	height:100%;
	width: 33%;
}

.widget-weather .left_panel .alert_panel .alert_button button{
	/*margin-top: 36%;*/
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

/*right panel*/

.widget-weather .right_panel{
	float:left;
	width:25%;
	height:100%;
}

.widget-weather .right_panel .logo{
	display:table;
	width: 100%;
	height: 80%;
	background-position:center center;
	background-repeat:no-repeat;
}

.widget-weather .right_panel .logo p{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:100%;
	font-size:200%;
}

.widget-weather .right_panel .legend{
	width: 100%;
	height: 20%;
	text-align:center;
}

/* icons */

/*-----------------------------iconset N°1---------------------------*/
.iconSet01_0-10 {
	background-image: url(./icons/set1/14.png) !important;
}

.iconSet01_10-20 {
	background-image: url(./icons/set1/14.png) !important;
}

.iconSet01_20-30 {
	background-image: url(./icons/set1/11.png) !important;
}

.iconSet01_30-40 {
	background-image: url(./icons/set1/12.png) !important;
}

.iconSet01_40-50 {
	background-image: url(./icons/set1/10.png) !important;
}

.iconSet01_50-60 {
	background-image: url(./icons/set1/09d.png) !important;
}

.iconSet01_60-70 {
	background-image: url(./icons/set1/07d.png) !important;
}

.iconSet01_70-80 {
	background-image: url(./icons/set1/05d.png) !important;
}

.iconSet01_80-90 {
	background-image: url(./icons/set1/02d.png) !important;
}

.iconSet01_90-100 {
	background-image: url(./icons/set1/01d.png) !important;
}

/*-----------------------------iconset N°2---------------------------*/
.iconSet02_0-10 {
	background-image: url(./icons/set2/2.png) !important;
}

.iconSet02_10-20 {
	background-image: url(./icons/set2/2.png) !important;
}

.iconSet02_20-30 {
	background-image: url(./icons/set2/2.png) !important;
}

.iconSet02_30-40 {
	background-image: url(./icons/set2/1.png) !important;
}

.iconSet02_40-50 {
	background-image: url(./icons/set2/1.png) !important;
}

.iconSet02_50-60 {
	background-image: url(./icons/set2/1.png) !important;
}

.iconSet02_60-70 {
	background-image: url(./icons/set2/1.png) !important;
}

.iconSet02_70-80 {
	background-image: url(./icons/set2/1.png) !important;
}

.iconSet02_80-90 {
	background-image: url(./icons/set2/0.png) !important;
}

.iconSet02_90-100 {
	background-image: url(./icons/set2/0.png) !important;
}
