/*.cps-headertabs {*/
/*   background: url("../images/nav-back.png") repeat-x scroll center top #3B404C;*/
    /*border-bottom: 1px solid black;*/
    /*height: 39px;*/
/*    width: 100%;*/
/*}*/

/*.x-tab-bar {
    background-color: red;
}

.x-tab-bar-top .x-tab-bar-body {
    border-width: 0px 0px 0;
    height: 20px;
    padding: 2px 0 3px;
}*/


/*.x-tab-bar {
    padding: 5px 0 0;
}

.x-tab-bar-body {
    padding: 10px 0 0;
}*/


