.icon {
	display: block;
	width: 16px;
	height: 16px;
}

.icon-user { 
    background-image: url(../images/icons/user.png) !important; 
} 
 
.icon-add { 
    background-image: url(../images/icons/add.png) !important; 
} 
 
.icon-delete { 
    background-image: url(../images/icons/delete.png) !important; 
}

.icon-config { 
    background-image: url(../images/icons/delete.png) !important; 
}

.icon-crecord_type-account { 
    background-image: url(../images/icons/account.png) !important; 
}

